html {
    font-size: 20px;
    background-color: dimgray;
    /*background-image: url("../images/tiled_background.png");*/
    /*margin: auto;*/
}

body {
    max-width: 750px;
    /*background-color: steelblue;*/
    background-image: url("../images/tiled_background.png");
    margin: auto;
}

h1 {
    color: rgb(182, 85, 7);
    font-size: 2em;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 4px 1px 2px black;    
}


@media screen and (max-width: 749px) {
    nav {
        /*float: left;*/
        text-align: center;
        margin: auto;        
       /*width: 170px;*/
        /*vertical-align: top;*/
        /*position: fixed;*/
    }

    li {
        list-style: none; 
    }

    h2 img {
        display: none;
    }

    article {
        max-width: 550px;
        padding-left: 1em;
        padding-right: 1em;
        /*margin-left: 9em;*/
        margin: auto;
        background-image: url("../images/tiled_background.png");
        /*border-left: 1px solid white;*/
        /*display: inline-block;*/
        /*box-sizing: border-box;*/
        /*padding-left: 184px;
        margin-left: 152px;*/
    }
}

@media screen and (min-width: 750px) {
    nav {
        display: inline-block;
        margin-right: 2em;
        padding-right: 2em;
        width: 170px;
        /*border-right: 1px solid black;*/
        position: fixed;
        /*vertical-align: top;*/
        margin: auto;
    }

    #ch_s {
        position: relative;
        max-width: 600px;
        height: 75px;
        box-sizing: border-box;    
    }

    article {
        max-width: 550px;
        padding-left: 1em;
        padding-right: 1em;
        margin-left: 9em;
        background-image: url("../images/tiled_background.png");
        border-left: 1px solid white;
        display: inline-block;
        box-sizing: border-box;
        /*padding-left: 184px;
        margin-left: 152px;*/
    }
}

p {
    color: rgb(124, 55, 5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-size: 2em; 
}

section>p {
    color: rgb(2, 138, 2);
    font-size: 2em;
}

#absoluteLeft{
    position: absolute;
    left: 0;
}

#absoluteRight{
    position: absolute;
    right: 0;
}

h2 {
    color: rgb(78, 138, 18);
    font-family: 'Acme', sans-serif;
    /*font-style: italic;*/
}

h3{
    color: rgb(129, 2, 91);
    font-family: 'Acme', sans-serif;
}

a:hover {
    font-weight: bold;
}

a:link {
    color: red;
}

a:visited {
    color: rgb(250, 11, 238);
}

a:focus {
    color: yellow;
}

a:active {
    color: blue;
}

img {
    float: left;
    padding: 5px;
    clear: both;
}

div img {
    height: 125px;
    width: 125px;
}

section::first-line {
    color: rgb(28, 2, 179);
}

header, div {
    overflow: auto;
}
div {
    background-color: steelblue;
}

p~div {
    font-size: 25px;
}

header, h1, h2, h3, p {
    text-align: center;
}

header img {
    float: none;
}

#alignRight {
    float: right;
}

.menuItem {
    border: 6px ridge rgb(94, 9, 192);
    border-radius: 16px;
    clear: both;
}

.menuItemPrice {
    text-align: right;
    font-weight: bolder;
    height: 1.5em;
    color: rgb(44, 32, 6);
    margin-right: 1em;
    margin-bottom: 10px;
    float: right;
    clear: both;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h4 {
    transform: skew(0deg, -21deg);
    font-size: 4em;
    color: rgb(252, 252, 3);
    text-align: center;
    border: 30px dotted red;    
}

video {
    width: 200px;
    margin-right: 25px;
    margin-left: 165px;
}

audio {
    margin-left: 115px;
}

.__web-inspector-hide-shortcut__ {
    visibility: hidden !important;
}

table {
    border-collapse: collapse;
    margin: auto;
}

td, th {
    border: 1px solid black;
    padding: .3em;
}

tfoot td, th {
    background-color: lightsalmon;
}

caption {
    /*font-size: 2em;*/
    font-weight: bold;
    color: #853288;
}

tbody tr:nth-child(odd) {
    background-color: aqua;
}

tbody tr:nth-child(even) {
    background-color: rebeccapurple;
}

input, textarea {
    display: block;
    box-sizing: border-box;
    margin-bottom: 10px;
    }

input:not([type = submit]), textarea {
    width: 75%;
}

input[type = submit] {
    margin: 25px;
    cursor: pointer;
}

input:not([type = submit]):not([type = range]) {
    margin-bottom: 15px;
}

input[type = range] {   
    width: 258px;
    margin-top: 15px;
    margin-left: 47px;
    margin-bottom: 45px;
}

form {
    position: relative;
    padding: 2em;
}

#scale1 {
    position: absolute;
    color: #000;
    left: 87px;
    top: 345px;    
}

#scale2 {
    position: absolute;
    color: #000;
    left: 148px;
    top: 345px;    
}
#scale3 {
    position: absolute;
    color: #000;
    left: 209px;
    top: 345px;    
}
#scale4 {
    position: absolute;
    color: #000;
    left: 270px;
    top: 345px;    
}
#scale5 {
    position: absolute;
    color: #000; 
    left: 331px;
    top: 345px;   
}