html {
    font-size: 20px;
    text-align: center;
    background-color: steelblue;
}

h1 {
    color: midnightblue;
    font-size: 5rem;    
}

p {
    color: rgb(124, 55, 5);
    font-size: 2rem;    
}

h2 {
    color: rgb(161, 228, 28);
    font-size: 4rem;    
}

