html {
    padding-top: 2em;
    text-align: center;
    background-color: mediumslateblue;
    color: rgba(147, 241, 221, 0.938);
}

h1{
    color: lime;
    font-size: 3em;
}

p,header{    
    font-size: 1.5em;
}

form {
    padding-top: 48px;
    padding-bottom: 54px;
}

#page {
    padding: .2em;
    background-color: gold;
    font-size: 16px;
    color: rgb(94, 9, 192);
    border: 6px ridge rgb(94, 9, 192);
    border-radius: 16px;

}

#page ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    align-content: center;
}

@media screen and (min-width: 600px) {
        #page ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 950px) {
        #page ul {
        grid-template-columns: repeat(3, 1fr);
    }
}

img {
    width: 260px;
    height: 175px;
    border: 6px ridge rgb(94, 9, 192);
    border-radius: 16px;
}

nav ul {
    list-style-type: none;
    padding-left: 5%;
    text-align: left;
}

input, button {
    box-shadow: 3px 3px 3px black;
    border: 1.5px solid darkgray;
    border-radius: 4px;
    margin: 2px;
}

form input, form button{
    padding: 1em;
}

.toggleButton{
    font-size: 2em;
    margin: .5em;
}

/* @media screen and (min-width: 650px) {
    #nextButton,#backButton{
       margin: 10%;
    }
} */


a {
    text-decoration: none;
    color: rgb(94, 9, 192);
}

a:hover {
    text-decoration: underline;
    color: white;
}

ul li {
    display: inline;
}

nav {
    top: 0;
    z-index: 1;
    position: fixed;
    background-color: indianred;
    width: 100%;
}

.a {
    transform: rotate(-11deg);
    margin-left: -75px;
}

.b {
    transform: rotate(7deg);
    margin-left: 125px;
}

.c{
    transform: rotate(-11deg);
    margin-left: -25px;
}

.d {
    transform: rotate(11deg);
    margin-left: 75px;
}

.e {
    transform: rotate(11deg);
    margin-left: -75px;
}

.f {
    transform: rotate(-7deg);
    margin-left: 125px;
}

.g{
    transform: rotate(11deg);
    margin-left: -25px;
}

.h {
    transform: rotate(-11deg);
    margin-left: 75px;
}
