html {
    font-size: 20px;
    background-color: dimgray;
}

body {
    max-width: 750px;
    vertical-align: top;
    background-color: steelblue;    
    background-image: url("/images/tiled_background.png");
    margin: auto;
}

article {
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 9em;
    border-left: 1px solid white;
}

h1 {
    color: rgb(228, 214, 19);
    font-size: 3rem;
    font-weight: 600;
    text-shadow: 4px 1px 2px black;    
}

p {
    color: rgb(124, 55, 5);
    font-size: 1rem;    
}

h2 {
    color: rgb(78, 138, 18);
    font-style: italic;
    font-size: 2em;    
}

a:hover {
    font-weight: bold;
}

a:link {
    color: red;
}

a:visited {
    color: rgb(250, 11, 238);
}

a:focus {
    color: yellow;
}

a:active {
    color: blue;
}

img {
    float: left;
    padding: 5px;
}

header, div {
    overflow: auto;
}

header, h1, h2, h3 {
    text-align: center;
}

header img {
    float: none;
}

#alignRight {
    float: right;
}

h3 {
    color: rgb(78, 138, 18);
    font-style: italic;
}

.menuItem {
    border: 6px ridge rgb(94, 9, 192);
    border-radius: 16px;
}

h4 {
    transform: skew(0deg, -21deg);
    font-size: 4em;
    color: rgb(252, 252, 3);
    text-align: center;
    border: 30px dotted red;    
}

/*nav {
    display: inline-block;
    width: 100px;
    vertical-align: top;
}*/

nav {
    float: left;
    width: 170px;
    margin: auto;
}

/*nav li {
    white-space: nowrap;
    overflow: hidden;
}*/

video {
    width: 200px;
    margin-right: 25px;
    margin-left: 165px;
}

audio {
    margin-left: 115px;
}

.__web-inspector-hide-shortcut__ {
    visibility: hidden !important;
}