html {
    font-family: Helvetica, Arial, sans-serif ;
    font-size: small;
}

header {
    background-color: lightgray;
    border-radius: 4px;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 2em;
}

header h1 {
    text-transform: uppercase;
}

#pcs {
    font-style: italic;
    display: inline;
}

header, article {
    width: 80%;
    margin: auto;
}

#products section{
    text-align: justify;
}

article {
    padding-bottom: 2em;
}

img, video {
    width: 100%;
}

h3 {
    font-weight: bold;
    font-size: 1.5em;
}

h4 {
    text-align: center;
    font-size: medium;
}

input {
    box-shadow: 3px 3px 3px black;
    border: 1.5px solid darkgray;
    border-radius: 4px;
    margin: 2px;    
}

#sign_up {
    text-align: center;
    font-weight: bold;
    background-color: lightgray;
    border-radius: 4px;
    padding-bottom: 1em;
}

form{
    width: max-content;
    margin: auto;
}

caption {
    font-weight: bold;
    margin-bottom: 1em;
}

table {
    border-collapse: collapse;
    margin: auto;
}

@media screen and (max-width: 580px){
    #table {
        overflow-x: scroll;
    }
}

@media screen and (min-width: 1000px){
    #products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "h3 h3 h3"
        "p  p  p "
        "s1 s2 s3";
    }

    #products section{
        padding: 10px;
    }

    #h3 {
        grid-area: h3;
    }

    #p {
        grid-area: p;
    }

    #s1 {
        grid-area: s1;
    }

    #s2 {
        grid-area: s2;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }

    #s3 {
        grid-area: s3;
    }

    form {
        display: grid;
        grid-template-areas: 
        "name email submit";
    }

    #name {
        grid-area: name;
    }

    #email {
        grid-area: email;
    }

    #submit {
        grid-area: submit;
    }
}

td, th {
    border: 1.6px solid black;    
}

td {
    text-align: right;
}

.year {
    font-weight: bold;
}

.red {
    color: red;
}

tbody tr:nth-child(odd) {
    background-color: lightblue;
}

tbody tr:nth-child(even) {
    background-color: lightpink;
}

tbody tr:hover {
    background-color: blue;
}

ul {
    list-style-type: none;
    padding-left: 10%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: red;
}

ul li {
    display: inline;
}

nav {
   top: 0;
   z-index: 1;
}

nav,footer {
    position: fixed;
    background-color: black;
    width: 100%;
}

footer {
    color: white;    
    padding-left: 10%;
    bottom: 0;     
}